#!/usr/bin/env bash
# {{ ansible_managed }}

export FTP_PASSWORD={{ duplicity_connection_password }}
{% if duplicity_backup_password_defined %}
export PASSPHRASE={{ duplicity_backup_password }}
{% endif %}
LOG_DIRPATH="{{ duplicity_log_home }}/$(date +%Y-%m)"
LOG_FILEPATH="${LOG_DIRPATH}/$(date +%d).log"

if [ ! -d "${LOG_DIRPATH}" ]
then
  mkdir "${LOG_DIRPATH}"
  chown {{ duplicity_user }}. "${LOG_DIRPATH}"
fi

# actions before backup
{% for action in duplicity_backup_actions_before %}
{{ action }}
{% endfor %}

{% for dirpath in duplicity_backup_item.value %}
# backup {{ dirpath }} (start)

{% if not duplicity_backup_transliterate %}
REMOTE_DIRPATH="$(echo '{{ dirpath }}' | tr ' ' '_')"
{% else %}
REMOTE_DIRPATH="$(echo '{{ dirpath }}' | tr ' ' '_' | uniconv -encode Russian-Translit)"
{% endif %}

{{ duplicity_connection_limit_command_prefix }}{{ duplicity_script }} \
  cleanup \
  {% if not duplicity_backup_password_defined -%}
  --no-encryption \
  {% endif -%}
  --log-file="${LOG_FILEPATH}" \
  --force \
  "{{ duplicity_connection_dsn }}${REMOTE_DIRPATH}"

{% if duplicity_backup_remove_older_than is string and
      duplicity_backup_remove_older_than | length > 0 %}
{{ duplicity_connection_limit_command_prefix }}{{ duplicity_script }} \
  remove-older-than {{ duplicity_backup_remove_older_than }} \
  {% if not duplicity_backup_password_defined -%}
  --no-encryption \
  {% endif -%}
  --log-file="${LOG_FILEPATH}" \
  --force \
  "{{ duplicity_connection_dsn }}${REMOTE_DIRPATH}"
{% endif %}

{{ duplicity_connection_limit_command_prefix }}{{ duplicity_script }} \
  {% if duplicity_backup_options | length > 0 -%}
  {{ duplicity_backup_options | join(' ') }} \
  {% endif -%}
  {% if not duplicity_backup_password_defined -%}
  --no-encryption \
  {% endif -%}
  --full-if-older-than={{ duplicity_backup_full_if_older_than }} \
  --volsize={{ duplicity_backup_volume_size }} \
  --verbosity={{ duplicity_backup_verbosity }} \
  --log-file="${LOG_FILEPATH}" \
  "{{ dirpath }}" \
  "{{ duplicity_connection_dsn }}${REMOTE_DIRPATH}"

{% if duplicity_backup_remove_all_but_n_full is number and
      duplicity_backup_remove_all_but_n_full > 0 %}
{{ duplicity_connection_limit_command_prefix }}{{ duplicity_script }} \
  remove-all-but-n-full {{ duplicity_backup_remove_all_but_n_full }} \
  {% if not duplicity_backup_password_defined -%}
  --no-encryption \
  {% endif -%}
  --log-file="${LOG_FILEPATH}" \
  --force \
  "{{ duplicity_connection_dsn }}${REMOTE_DIRPATH}"
{% endif %}

# backup {{ dirpath }} (end)
{% endfor %}

chown {{ duplicity_user }}. "${LOG_FILEPATH}"
{% if duplicity_backup_password_defined %}
unset PASSPHRASE
{% endif %}
unset FTP_PASSWORD

gzip -f "${LOG_FILEPATH}"

# actions after backup
{% for action in duplicity_backup_actions_after %}
{{ action }}
{% endfor %}
